@charset "UTF-8";

body {
  background-color: rgb(227, 195, 255);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
h1 {
  color: rgb(0, 0, 0);
}
h2 {
  color: rgb(82, 101, 177);
  background-color: rgb(0, 5, 6);
}
p {
  text-align: justify;
}
